 <html>
	<head>
		<title>{{ .Title }}</title>

		<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/lit.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/util.css" />
		<style>
			h1,h2,h3,h4,h5,h6 {
				cursor: default;
			}
			blockquote {
				margin-block-start: 1em;
				margin-block-end: 1em;
				margin-inline-start: 20px;
				margin-inline-end: 20px;
			}
		</style>
	</head>
	<body>
		<div class="c">
			{{ .Content }}

			{{ range .Posts }}
			<div class="c">
				<p>
					{{ .Date }}
					·
					{{ .Category }}
					{{ range .Authors}}
						·
						{{ if .Page }}
							<a href="{{ .Page }}">{{ .Name }}</a>
						{{ else }}
							{{ .Name }}
						{{ end }}
					{{end}}
				</p>
				<h2><a href="{{ .Link }}">{{ .Title }}</a></h2>
			</div>
			{{ end }}
		</div>
	</body>
</html>
